DESCRIPTORS_FILE	/home/calvarez/gitDir/ClothingParser/WhereToBuyItEvaluation/descriptors/wheretobuydescfc6.bin
NETWORK_CONFIG_FILE	/home/calvarez/gitDir/ClothingParser/WhereToBuyItEvaluation/configFiles/Experimentfc6.config
IMAGES_IDS_FILE	/home/calvarez/gitDir/ClothingParser/WhereToBuyItEvaluation/neededFiles/images_ids.txt
TESTING_FILE	/home/calvarez/gitDir/ClothingParser/WhereToBuyItEvaluation/neededFiles/testing.txt	
IMAGES_CLASSES	/home/calvarez/gitDir/ClothingParser/WhereToBuyItEvaluation/neededFiles/classes.txt
OUTPUT_DIR	/home/calvarez/gitDir/ClothingParser/WhereToBuyItEvaluation/results/AlexNetFc6/
CALCULATE_DESCRIPTORS	NO
EXPERIMENT_TYPE	RETRIEVAL
CALCULATE_MEASUREMENTS	RETRIEVAL
QUERIES_FILE /home/calvarez/gitDir/ClothingParser/WhereToBuyItEvaluation/results/AlexNetFc6/queries.txt
STEP	20
RETRIEVED_ITEMS	370856